<div style="text-align:center">
<img src="../assets/newnav14.gif">
  <h1 >
Quote Quotes
  </h1>

</div>
<div class="container">
  <div class="row">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
  <ol>
    <div *ngFor='let quote of quotes;let i=index'>
    <li>{{quote.name}} :Created on {{quote.dateCreated|date}}</li>
    <button class="btn btn-primary"(click)='toogleMeaning(i)'> Quote Author</button>
    <app-quote-meaning *ngIf="quote.showMeaning"[quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-meaning>
    </div>
  </ol>
