h1 {
	font-family: 'Great Vibes', cursive;
	font-weight: bold;
	font-size: 5em;
	padding: 5%;
}

body{
  background-color: pink;

font-family: 'Special Elite', cursive;
background-image: url("https://s3.amazonaws.com/codepen-files/paper.jpg");

}
@import url(https://fonts.googleapis.com/css?family=Special+Elite);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"
